<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdvatekSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/STAS.Web.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-secondary">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-black navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">STAS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Employee" asp-action="Search">Search</a>
                        </li>
                        
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="attendanceBlockDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Employee
                            </a>
                            <ul class="dropdown-menu bg-light bg-opacity-75" aria-labelledby="attendanceBlockDropdown">
                                <li><a class="dropdown-item" asp-controller="Employee" asp-action="Index" style="color: #5033A2;"><i class="fa-solid fa-list icon-spacing"></i> List</a></li>
                                <li><a class="dropdown-item" asp-controller="Employee" asp-action="Create" style="color: #5033A2;"><i class="fa-solid fa-plus-circle icon-spacing"></i> Create</a></li>
                               
                            </ul>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" >
@*            <div class="row">
                <div class="col-12"> *@
                    <div class="row mt-3">
                        <div class="col-md-6 col-sm-12">
                            <ul class="list-unstyled d-flex align-items-center justify-content-center">
                                <li>&copy; 2024 - STAS</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="d-flex align-items-center justify-content-center">
                                <a href="https://facebook.com" class="nav-link fs-3 text-white"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://twitter.com" class="nav-link fs-3 text-white"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://instagram.com" class="nav-link fs-3 text-white"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
@*                 </div>
            </div> *@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
