html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main {
    flex-grow: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('/lib/images/background.png');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 70vh;
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    padding: 20px 0;
}

.footer, .footer ul li a {
    line-height: normal;
}


body, table {
    color: #cce4f7 !important;
}

